<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fj.dropdownmenu.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SingleActivity" />
        <activity android:name=".activity.CombinationActivity" />
        <activity android:name=".activity.DoubleActivity" />
        <activity android:name=".activity.ThreeActivity" />
        <activity android:name=".activity.NestedCombinationActivity" />
        <activity android:name=".activity.RandomViewActivity"/>
    </application>

</manifest>